//     SCHEME
// -----------
$light: #E3F8FF;
$tech: #00A4B8;
$dark: #213135;
$black: rgb(27, 29, 29);

//     PARTIAL
// -----------
@import './nav_arrow.scss';
@import './blinking_cursor.scss';

//        FONT
// -----------
@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');
@import url('https://fonts.googleapis.com/css?family=Kanit:400,700&display=swap');
@import url('https://fonts.googleapis.com/css?family=Courier+Prime&display=swap');

// LANDING PAGE
// -----------
body::-webkit-scrollbar {
  display: none;
}
.hero {
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 0px;
  color:$light;
  width: 116vw;
  height: 115vh;
  background-color: $dark;
  z-index: 2;
  transition: linear 500ms;
  transition-delay: 1800ms;
}
.hero-vid {
  width: 116vw;
  height: 115vh;
  position: fixed;
  margin: auto;
  top: -15vh;
  left: -15vw;
  z-index: -2;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: auto 0;
  transform: translateY(-20%);
}
.scrollable {
  position: absolute;
  z-index: -9999;
  min-width: 102vw;
  min-height: 100vh;
  overflow: auto;
}
img#logo {
  max-width: 550px;
}
h3#sub {
  font-family: 'Kanit';
  font-size: xx-large;
  transform: translateX(25px);
}
// GLOBAL ELEM
// -----------
main, body {
  background-color: rgba(0,0,0,0);
}
.hidden {
  display: none !important
}
.stealth {
  visibility: hidden;
}
html {
  scroll-behavior: smooth;
}
@media screen and (prefers-reduced-motion: reduce) {
  html {
    scroll-behavior: auto;
  }
}


img, svg {
  max-width: 90px;
}
div.master {
 bottom: 0px;
 height: 80vh;
 z-index: -1;
}


//      ABOUT
// -----------
section {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  border: 1px solid red;
  
  width: 71vw;
  min-width: 660px;
  min-height: 400px;
  max-height: 400px;

  justify-content: space-evenly;
  margin: 10px 5px;
  overflow: scroll;
}
.gif {
  max-height: 320px;
  min-height: 320px;
  max-width: 480px;
  min-width: 480px;
  overflow: hidden;
  border: 2px solid blue;
}
.carousel {
  margin: auto;
  margin-top: 32px;
  border: 2px solid gold;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  overflow-x: scroll;
  overflow-y: scroll;

  max-height: 700px;
  width: 72vw;
  min-width: 675px;

}

//      MAPBOX
// -----------
.pin {
  max-height: 20px;
}
.map {
  width: 480px;
  height: 320px;
  border: 0px;
}

//         NAV
// -----------
nav {
  position: fixed;
  top: 0px;
  right: 100px;
  transition-delay: 1000ms;
  transition: linear 1000ms;
  z-index: 9999;
}
a {
  display: inline;
  text-decoration: none;
  color: $dark;
  cursor: pointer;
  z-index: 2;
  font-family: 'Courier Prime', monospace;
}


//        FLEX
// -----------


//        FORM
// -----------
form {
  position: fixed;
  top: 0px;
  width: 100vw;
  min-width: 200px;
  height: fit-content;
  background-color: $dark;
  overflow:hidden;
}
div#message{
  display: flex;
  flex-direction: row;
  border: 0px;
  align-items: flex-start;
  min-width: 60vw;
  flex-wrap: wrap;
}
label {
  border: 0px solid greenyellow;
  font-family: 'Courier Prime', monospace;
  color: $light;
  display: inline-flex;
}
label.boot {
  visibility: visible;
  transition-delay: 2200ms;
}
label.send {
  visibility: visible;
  transition-delay: 300ms;
}
input {
  border: 0px solid red;
  background-color: rgba(0,0,0,0);
  color: $light;
  font-family: 'Courier Prime', monospace;
  max-width: 60vw;
  min-width: 50px;
  overflow: hidden;
}
textarea {
  border: 0px;
  background-color: rgba(0,0,0,0);
  color: $light;
  font-family: 'Courier Prime', monospace;
  resize: none;
  max-height: 42px;
  min-width: 98vw;
}
*:focus {
  outline: none;
}




